body .text {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}


/*---------navbar-------------*/
navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
}



/* contact form */
body {
  background-color: #25274d;
}
.contact {
  padding: 4%;
  height: 400px;
}

.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: red;
  color: #fff;
  font-weight: 600;
  width: 25%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login {
  height: 350px;
  padding: 2px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup {
  padding: 2px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup2 {
  justify-content: center;

}

a:link {
  color: white;
}

.welcome {
  color: white;
}

.logout {
  color: white;
}

.logout:hover {
  color: #d4b00f;
}

.sign:hover .log:hover {
  color: #d4b00f;
}

.team {
  font-family: "Brush Script MT", cursive;
  color: white;
}


.copyright-text {
  font-size: xx-small;
}

/* ---------body--------- */
form {
  display: inline-block;
  overflow: hidden;
}

.navtext {
  color: #d4b00f;
}

.submitbtn {
  color: red;
}

.randomGifcol {
  float: left;
  padding: 5px;
  margin: 20px;
}
/* ----------------------footer --> 

 */

.wrapper {
  position: relative;
  min-height: 100vh;
}

.footertext {
  font-size: small;
}

.site-footer {
  background-color: #26272b;
  padding: 30px 0 5px;
  font-size: 15px;
  line-height: 24px;
  color: gray;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.site-footer h6 {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 4px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: grey;
  text-decoration: none;
}

.footer-links {
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #d4b00f;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}

/* --------------members page and newpost styling-------------- */
.posting-title,
.voting-page,
div .members-page {
  color: rgb(78, 53, 5);
  font-weight: 300;
  width: 50%;
  padding: 20px;
  margin-top: 25px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#searchButton,
#historyButton {
  margin-bottom: 5px;
  margin-right: 5px;
}

.new-caption,
.image-result {
  margin-top: 50px;

}

#imageCard {
  margin-top: 50px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#imageCard
img {
  width: 100%;
}

.randomGifcol p {
  font-size: small;
  font-family: sans-serif;
}



/* ------------------oldpost voting page --------------------- */

.gifVote {
  margin-right: 10px
}

.jellyVote{
  margin-left: 10px;
}
.voting-card {
  margin: 50px 25px 10px 35px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
}

.return-btn {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .footer-links {
    padding-top: 0px;
  }
}
@media (max-width: 991px) {
  .footer-links {
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  #footer {
    display: inline;
  }
  #mobile-footer {
    display: none;
  }
  #content-wrap {
    padding-bottom: 150px;    /* Footer height */
  }
}
@media (max-width: 767px) {
  #footer {
    display: none;
  }
  #mobile-footer {
    display: inline;
  }
  #content-wrap {
    padding-bottom: 40px;    /* Footer height */
  }
}

